@model Conestoga_Virtual_Game_Store.Models._event

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>_event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user.employee_flag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.employee_flag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.event_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.event_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.event_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.event_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.event_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.event_description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.event_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
