@model IEnumerable<Conestoga_Virtual_Game_Store.Models._event>

@{
    ViewBag.Title = "Upcoming Events";
}

<h2>Upcomming Events</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <h3>@Html.DisplayNameFor(model => model.event_date)</h3>
        </th>
        <th>
            <h3>@Html.DisplayNameFor(model => model.event_name)</h3>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderBy(i => i.event_date)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.event_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.event_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.event_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.event_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.event_id })
        </td>
    </tr>
}

</table>
