@model IEnumerable<Conestoga_Virtual_Game_Store.Models.game>

@{
    ViewBag.Title = "Games Directory";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add New Game", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.game_name)*@
            <h3>Title</h3>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.category.category_name)*@
            <h3>Category</h3>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.developer.developer_name)*@
            <h3>Developer</h3>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.description)*@
            <h3>Description</h3>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.release_date)*@
            <h3>Release Date</h3>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.price)*@
            <h3>Price</h3>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.game_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category.category_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.developer.developer_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.releaseDate)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.game_id })
            @Html.ActionLink("Details", "Details", new { id=item.game_id })
            @Html.ActionLink("Delete", "Delete", new { id=item.game_id })
        </td>
    </tr>
}

</table>
