@model IEnumerable<Conestoga_Virtual_Game_Store.Models.order_details>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.game_platforms.game_platform_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order.order_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.physical_copy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qty_ordered)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.game_platforms.game_platform_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order.order_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.physical_copy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qty_ordered)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.order_detail_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.order_detail_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.order_detail_id })
        </td>
    </tr>
}

</table>
